<div class="page-wrap h-full slate">
  <div class="session-form-hold">
    <mat-progress-bar
      mode="determinate"
      class="session-progress"
    ></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div class="text-center pt-8 pb-16">
          <img width="60px" src="assets/images/mastec-logo2.png" alt="" />
          <h2>HRMStudio</h2>

          <p class="text-muted m-0">Forgot your Password?</p>
        </div>

        <p *ngIf="errorMessage" class="text-center">
          <small class="text-red">{{ errorMessage }}</small>
        </p>
        <p *ngIf="successMessage" class="text-center">
          <small class="text-green">{{ successMessage }}</small>
        </p>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="signin()">
          <div class="" *ngIf="!successMessage">
            <mat-form-field class="full-width">
              <input
                type="email"
                name="email"
                matInput
                [formControl]="forgotPasswordForm.controls['email']"
                placeholder="Your Email"
              />
            </mat-form-field>
            <small
              *ngIf="
                forgotPasswordForm.controls['email'].hasError('required') &&
                forgotPasswordForm.controls['email'].touched
              "
              class="form-error-msg"
            >
              Email is required
            </small>

            <small
              *ngIf="
                forgotPasswordForm.controls['email'].hasError('email') &&
                forgotPasswordForm.controls['email'].touched
              "
              class="form-error-msg"
            >
              Invaild email address
            </small>
            <button
            mat-raised-button
            class="mat-primary full-width mb-16"
            [disabled]="forgotPasswordForm.invalid"
          >
            Reset my Password
          </button>
          </div>

         
          <div class="text-center">
            <a
              [routerLink]="'/account/login'"
              class="mat-primary text-center full-width"
              >Redirect to Login</a
            >
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
