<div class="page-wrap h-full slate">
  <div class="session-form-hold">
    <mat-progress-bar
      mode="determinate"
      class="session-progress"
    ></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div class="text-center pt-8 pb-16">
          <img
            width="60px"
            src="assets/images/mastec-logo2.png"
            alt=""
            class="mb-8"
          />
          <h2>HRMStudio</h2>
          <p class="text-muted m-0">Reset your password</p>
        </div>
        <p *ngIf="errorMsg" class="text-center">
          <small class="text-red">{{ errorMsg }}</small>
        </p>
        <p *ngIf="successMsg" class="text-center">
          <small class="text-green">{{ successMsg }}</small>

          <button
            [routerLink]="'/account/login'"
            mat-stroked-button
            color="primary"
          >
            Login
          </button>
          <!-- <button [routerLink]="'/account/login'"  mat-button class="mat-primary" >Login</button>  -->
        </p>
        <form
          [formGroup]="resetPasswordForm"
          (ngSubmit)="onResetPassword()"
          *ngIf="!successMsg"
        >
          <div class="">
            <mat-form-field class="full-width">
              <input
                type="email"
                name="email"
                matInput
                [formControl]="resetPasswordForm.controls['email']"
                placeholder="Your Email"
              />
            </mat-form-field>
            <small
              *ngIf="
                resetPasswordForm.controls['email'].hasError('required') &&
                resetPasswordForm.controls['email'].touched
              "
              class="form-error-msg"
            >
              Email is required
            </small>

            <small
              *ngIf="
                resetPasswordForm.controls['email'].hasError('email') &&
                resetPasswordForm.controls['email'].touched
              "
              class="form-error-msg"
            >
              Invaild email address
            </small>
          </div>

          <div class="">
            <mat-form-field class="full-width">
              <input
                type="password"
                name="password"
                matInput
                [formControl]="resetPasswordForm.controls['password']"
                placeholder="Password"
                value=""
              />
            </mat-form-field>
            <small
              *ngIf="
                resetPasswordForm.controls['password'].hasError('required') &&
                resetPasswordForm.controls['password'].touched
              "
              class="form-error-msg"
            >
              Password is required
            </small>
            <small
              *ngIf="
                resetPasswordForm.controls['password'].hasError('pattern') &&
                resetPasswordForm.controls['password'].touched
              "
              class="form-error-msg"
            >
              Password must contain more than 6 characters,1 upper case letter,
              1 lower case letter,1 digit and 1 special character
            </small>
          </div>
          <div class="">
            <mat-form-field class="full-width">
              <input
                type="password"
                name="confirmPassword"
                matInput
                [formControl]="resetPasswordForm.controls['confirmPassword']"
                placeholder="Confirm Password"
                value=""
              />
            </mat-form-field>
            <small
              *ngIf="
                resetPasswordForm.controls['confirmPassword'].hasError(
                  'required'
                ) && resetPasswordForm.controls['confirmPassword'].touched
              "
              class="form-error-msg"
            >
              Confirm Password is required
            </small>
            <small
              *ngIf="
                resetPasswordForm.controls['confirmPassword'].hasError(
                  'matching'
                )
              "
              class="form-error-msg"
            >
              Confirm Password does not match
            </small>
          </div>

          <!-- resetPasswordForm.invalid || -->
          <button
            mat-raised-button
            class="mat-primary full-width mb-16"
            [disabled]="!isValidToken"
          >
            Reset Password
          </button>
          <div class="text-center">
            <a [routerLink]="'/account/login'" class="text-center full-width"
              >Login to existing account</a
            >
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
